<.table id="cars" rows={@cars} row_click={&JS.navigate(~p"/cars/#{&1}")}>
  <:col :let={car} label="Year"><%= car.car_Year %></:col>
  <:col :let={car} label="Make"><%= car.car_Make %></:col>
  <:col :let={car} label="Model"><%= car.car_Model %></:col>
  <:action :let={car}>
    <div class="sr-only">
      <.link navigate={~p"/cars/#{car}"}>Show</.link>
    </div>
  </:action>
</.table>
