<.header>
  New Car
  <:subtitle>Use this form to manage car records in your database.</:subtitle>
</.header>

<.car_form changeset={@changeset} action={~p"/cars"} />

<.back navigate={~p"/cars"}>Back to cars</.back>
