<.header>
  <h3><%= car_title(@car) %></h3>
</.header>

<.list>
  <:item title="Price"><%= format_price(@car.car_SellingPrice) %></:item>
  <:item title="Mileage"><%= format_mileage(@car.car_Miles) %></:item>
  <:item title="Description"><%= @car.car_Description %></:item>
</.list>
<div class="col-sm-6">
  <img src={@car.image_list} />
</div>

<.back navigate={~p"/cars"}>Back to cars</.back>
